<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Form</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/module/app.js"></script>
    <script src="js/factory/greenspadefactory.js"></script>
    <script src="js/controller/greenspadecontroller.js"></script>
    <script src="js/customjs.js"></script>
</head>
<body ng-app="greenspade" ng-controller="greenspadecontroller">
     <div class="container" >
         <h2>In this, Custom Directives Are Used.</h2>
         <h3>As your API is running on http, so Github(which is running on https) was blocking the request to your API</h3>
         <h3>So I have shared a screen recording running it on localhost, showing the working of Category dropdown</h3>
         <h3>Please Watch It ! :: This Project runs best on Chrome</h3>
         <hr>
     <div class="col-sm-8 col-sm-offset-2 col-xs-11" id="mainframe" ng-init="dropdownList();">
         <div class="row" style="overflow: hidden">
             <ul class="timeline">
            <li class="row" id="mainList">
                <div class="timeline-badge col-sm-5">
                <i class="fa fa-circle"></i>
                </div>
                <div class="col-sm-4 col-sm-offset-3 group ">
                    <select name="sel" ng-model="category" style="margin-top: 15px" ng-required="true" ng-options="category for category in categories">
                    </select>
                    <label style="color: gray">Categories*</label>
                </div>

            </li>
            <li>
                <button type="button" class="btn btn-circle " ng-click="addCategory();">
                    <i class="fa fa-plus"></i>
                </button>
            </li>
        </ul>
         </div>
         <br>
        <form class="form-inline">
            <div class="form-group">
            <h3>Product</h3>
            </div>
            <div class=" form-group group1">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label> </label>
            </div>
            <div class=" form-group group1">
                <input type="text" required style="width: 95px">
                <span class="highlight"></span>
                <span class="bar1" style="width: 95px"></span>
                <label>Quantity&nbsp;<span class="red">*</span></label>
            </div>
            <div class=" form-group group1">
                <input type="text" required style="width: 95px">
                <span class="highlight"></span>
                <span class="bar1" style="width: 95px"></span>
                <label>Amount&nbsp;<span class="red">*</span></label>
            </div>
            <div class="form-group">
                <h3>Amts</h3>
            </div>
        </form>

     </div>
     </div>
     <button type="button" class="btn addbtn" ng-click="addCat();" ng-disabled="isDisable">ADD</button>
     <br>
     <br>
</body>
</html>