<li class="row" ng-init="dropdown()">
    <div class="timeline-badge col-sm-5">
        <div class="btn timeline-button " style="left: -15px; margin-bottom: 20px;" >
            <!--<div>Select an option</div>-->
            <div class="styled-select green rounded" >
                <select>
                    <option>AND</option>
                    <option>OR</option>
                </select>
            </div>
        </div>
    </div>
    <div class="timeline-badge-1 col-sm-5" style="color: #b2dd1d; left: 15px; margin-right: 15px;">
        <i class="fa fa-circle"></i>
    </div>
    <div class="col-sm-4 col-sm-offset-3 group " style="position: relative ;margin-left: 78px;">
        <select name="sel" ng-model="jnk" style="margin-top: 10px" ng-required="true" ng-options="category for category in categories">
        </select>
        <label style="color: gray">Categories*</label>
        <div class="del" ng-click="Delete($event);">
            <i class="btn fa fa-times"></i>
        </div>
    </div>

</li>

<script>
    $('select').blur(function() {
        if ($(this).val())
            $(this).addClass('used');
        else
            $(this).removeClass('used');



    });
</script>